.sidebar-layout {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 102px 1fr;
    grid-template-areas: "sidebar content";
    gap: 20px;

    .content {
        padding-block: 85px;
        grid-area: content;
    }
}
