.sidebar {
    height: 100vh;
    grid-area: sidebar;
    position: fixed;
    top: 0;
    z-index: 9;

    &__inner {
        width: 100%;
        height: 100%;
        padding: 12px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "logo"
            "nav"
            "settings";
        background-color: $dark_background;
        color: $primary;
        transition: width 0.25s ease;
    }

    &:hover {
        .sidebar__inner {
            width: fit-content;
        }

        .sidebar__item {
            min-width: 213px;
        }

        .sidebar__link {
            &-label {
                display: block;
            }
        }
    }

    &__nav {
        grid-area: nav;
        align-self: center;
    }

    &__item {
        &:hover {
            border-right: 2px solid $primary;
        }

        &::marker {
            content: none;
        }
    }

    &__item + &__item {
        margin-top: 24px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 12px;
        color: $primary;
        text-decoration: none;

        &-figure {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-label {
            display: none;
            white-space: nowrap;
        }
    }
}
